@font-face {
  font-family: 'theme-icons';
  src:  url('fonts/theme-icons.eot?y3jyk0');
  src:  url('fonts/theme-icons.eot?y3jyk0#iefix') format('embedded-opentype'),
    url('fonts/theme-icons.ttf?y3jyk0') format('truetype'),
    url('fonts/theme-icons.woff?y3jyk0') format('woff'),
    url('fonts/theme-icons.svg?y3jyk0#theme-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="vamtam-theme-"], [class*=" vamtam-theme-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'theme-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vamtam-theme-leaf-2:before {
  content: "\e920";
}
.vamtam-theme-lleaf-3:before {
  content: "\e921";
}
.vamtam-theme-wedding:before {
  content: "\e922";
}
.vamtam-theme-lleaf:before {
  content: "\e91f";
}
.vamtam-theme-headset:before {
  content: "\e911";
}
.vamtam-theme-email:before {
  content: "\e90e";
}
.vamtam-theme-comments:before {
  content: "\e910";
}
.vamtam-theme-account:before {
  content: "\e917";
}
.vamtam-theme-arrow-left-1:before {
  content: "\e918";
}
.vamtam-theme-arrow-right-1:before {
  content: "\e919";
}
.vamtam-theme-barcode:before {
  content: "\e91a";
}
.vamtam-theme-credit-locked:before {
  content: "\e91b";
}
.vamtam-theme-phone:before {
  content: "\e91c";
}
.vamtam-theme-rate:before {
  content: "\e91d";
}
.vamtam-theme-shop:before {
  content: "\e91e";
}
.vamtam-theme-delivery-fast:before {
  content: "\e90f";
}
.vamtam-theme-heart-empty:before {
  content: "\e912";
}
.vamtam-theme-heart-fill:before {
  content: "\e913";
}
.vamtam-theme-play:before {
  content: "\e914";
}
.vamtam-theme-privacy:before {
  content: "\e915";
}
.vamtam-theme-user:before {
  content: "\e916";
}
.vamtam-theme-bag:before {
  content: "\e90d";
}
.vamtam-theme-menu:before {
  content: "\e90c";
}
.vamtam-theme-minus:before {
  content: "\e90a";
}
.vamtam-theme-plus:before {
  content: "\e90b";
}
.vamtam-theme-arrow-left:before {
  content: "\e900";
}
.vamtam-theme-arrow-right:before {
  content: "\e901";
}
.vamtam-theme-arrow-top:before {
  content: "\e902";
}
.vamtam-theme-close:before {
  content: "\e904";
}
.vamtam-theme-search:before {
  content: "\e907";
}
.vamtam-theme-star-fill:before {
  content: "\e908";
}
.vamtam-theme-star:before {
  content: "\e909";
}
.vamtam-theme-box:before {
  content: "\e903";
}
.vamtam-theme-flower-1:before {
  content: "\e905";
}
.vamtam-theme-flower:before {
  content: "\e906";
}
